header {
    text-align: center;
    width: 260px;
    margin: 10px 10px 10px 50px;
    background-color:  #000000;
    color: #ffffff;
    font-size: 20px;
    box-shadow: 5px 5px 8px rgba(203, 199, 201, 0.3);
    font-family: "Trebuchet MS", Arial, sans-serif;
  }

body {
    background-color: #616973;
    margin: 10px;
    font-family: "Trebuchet MS", Arial, sans-serif;
}

.container {
    align-items: center;
    display: flex;
    padding: 40px;
    height: 90vh;
    justify-content: space-between;
} 

.box {
    border-radius: 8px;
    justify-content: center;
    text-align: left;
    font-size: 20px;
    line-height: 2.5;
    padding: 40px;
    background-color:#d0cdc9;
    color:rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    margin: 10px 10px 30px 10px;
    overflow: auto;
    box-shadow: 5px 5px 9px rgba(20, 29, 32, 0.3);
}

.box.special {
display: none;
}

#my-list {
  list-style-type: none;
}


button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
    font-family: "Trebuchet MS", Arial, sans-serif;
  }