.header_box {
  text-align: center;
  width: 260px;
  background-color: #4f565e;
  color: #ffffff;
  font-size: 20px;
  box-shadow: 5px 5px 8px rgba(203, 199, 201, 0.3);
  font-family: "Trebuchet MS", Arial, sans-serif;
}

.warning_box {
  text-align: center;
  width: auto;
  background-color: #4f565e;
  color: #ffffff;
  margin: 30px 50px 50px 50px;
  font-size: 20px;
  box-shadow: 5px 5px 8px rgba(203, 199, 201, 0.3);
  font-family: "Trebuchet MS", Arial, sans-serif;
}

header {
  display: flex; align-items: center;
  margin: 30px 50px 50px 50px;
  justify-content: space-between;
}


.cart {
  display: flex;
  justify-content: center; /* Horizontal center alignment */
  align-items: center; 
  border-radius: 50%;
  height: 90px;
  width: 90px;
  font-size: 30px;
  background-color:  #4f565e;
  box-shadow: 5px 5px 8px rgba(203, 199, 201, 0.3);
}

.back_to_music {
  display: flex;
  justify-content: center;
  align-items: center; 
  border-radius: 50%;
  height: 90px;
  width: 90px;
  font-size: 40px;
  background-color:  #4f565e;
  color:  #ffffff;
  box-shadow: 5px 5px 8px rgba(203, 199, 201, 0.3);
}

body {
  background-color: #616973;
  margin: 10px;
  font-family: "Trebuchet MS", Arial, sans-serif;
}

.container {
  align-items: center;
  display: flex;
  padding: 40px;
  height: 90vh;
  justify-content: space-between;
} 

.box {
  border-radius: 3px;
  justify-content: center;
  text-align: left;
  font-size: 20px;
  line-height: 2.5;
  padding: 40px;
  background-color:#d0cdc9;
  color:rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  margin: 10px 10px 30px 10px;
  overflow: auto;
  box-shadow: 5px 5px 9px rgba(20, 29, 32, 0.3);
}

.box.special {
display: none;
}

#my-list {
list-style-type: none;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
  font-family: "Trebuchet MS", Arial, sans-serif;
}

/* .button_hide {
  display: none;
} */

.form-container {
  width: auto;
  display: block;
  margin: 0 auto;
  padding: 20px;
  background-color: #933737;
  border-radius: 2px;
  font-size: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  font-family: "Trebuchet MS", Arial, sans-serif;
}

.form_container_none {
  display: none;
}

.form-group {
  margin-bottom: 20px;
}

.btn_group {
  justify-content: space-between;
}

label {
  display: block;
  font-size: 20px;
  font-family: "Trebuchet MS", Arial, sans-serif;
}

input[type="text"],
select,
textarea {
  width: 100%;
  font-size: 20px;
  font-family: "Trebuchet MS", Arial, sans-serif;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


button[type="submit"]:hover {
  background-color: #000000;
  display: inline-block;
}